* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(238, 231, 231);
    font-family: 'Raleway', sans-serif;
    margin-left: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    justify-content: center;
    align-content: center;
    width: 1200px;
}

.grid-item {
    background-color: red;
    border: blue solid 2px;
}

/*INICIO HEADER*/

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #DEB595;
    display: flex;
    justify-content: space-between;
}


#logo {
    text-transform: uppercase;
    display: inline;
    color: #e8e8e6;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 7px;
    margin-bottom: 15px;
    filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.145));
}

.nav_header {
    display: flex;
    align-self: center;
}

.nav_header ul {
    list-style-type: none;
}


.nav_header ul li {
    display: inline;
}

.nav_header ul li a {
    display: inline-block;
    width: 80px;
    height: 20px;
    color: #433534;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul li a:hover {
    color: #f4fff6;
}


.box__intro {
    display: flex;
    justify-content: flex-end;
}

.form__header {
    display: flex;
    align-self: center;
    margin-left: 20px;
}

.headerSearch__input {
    border-radius: 15px;
    height: 2em;
    border: none;
    background-color: #fff;
    font-weight: bold;
    color: #433534;
    text-align: center;
    margin-left: 7px;
}

.compra__box {
    display: flex;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;

}

.link__compra {
    text-decoration: none;
    color: black;

}

/*inicio CAROUSEL*/

.carousel {
    padding: 0;
    margin: 0;
}

.mySlides {
    display: flex;
    align-self: center;
    max-width: 100%;
    background-color: #e7e7e5;
}

/*fin CAROUSEL*/


.buttonL_slider,
.buttonR_slider {
    background-color: #113428;
    border: none;
    color: white;
    padding: 10px 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    justify-content: center;
}

/*FIN HEADER*/

/*section CUIDADOS*/

.cuidados {
    display: flex;
    background-color: #6e804f;
    padding: 40px;
}

#h2_cuidar {
    color: #dbb292;
    text-shadow: 1px 3px 5px #1d2124;
    letter-spacing: 2px;    
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.cuidados p {
    padding: 20px 50px;
    color: #e5e5e3;
    letter-spacing: 1px;
    line-height: 22px;    
}


/*inicio FOOTER*/

footer {
    height: 100%;
    background-color: #433534;
    padding: 25px 10px;
}

#footer_contenedor {
    width: 100%;
    height: auto;
    text-align: justify;
    color: #e5e5e3;
    font-size: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 2em;
    -moz-column-rule: 2px solid #ffffff;
    -moz-column-width: 95%;
    -webkit-column-count: 2;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 2px solid #ffffff;
    -webkit-column-width: 150px;
    column-count: 2;
    column-gap: 2em;
    column-rule: 2px solid #ffffff;
    column-width: 150px;
    font-size: 15px;
    word-wrap: break-word;

}

.lista_menu_footer {
    margin: 0px;
    padding-top: 10px;
    padding-right: 40px;
    list-style-type: none;
}

.lista_menu_footer li a {
    display: inline;
    width: 100%;
    height: 40px;
    color: #dbb292;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.lista_menu_footer li a:hover {
    color: #F5DA81;
}

#redes_foot {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    float: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    box-sizing: border-box;
}

.iconos_redes_foot {
    margin: 5px 10px;
    padding: 0px;
    list-style-type: none;
}

.iconos_redes_foot li {
    display: inline;
}

.iconos_redes_foot li a {
    display: inline-block;
    width: 100%;
    height: auto;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}

#legales_footer {
    width: 100%;
    height: auto;
    background-color: #636260;
    clear: both;
    box-sizing: border-box;
}


ul .menu_legales {
    margin-right: 0px;
    padding: 0px;
}

.menu_legales li {
    display: block;
}

.menu_legales li a {
    display: inline-block;
    width: 90%;
    height: auto;
    color: #ff9d00;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
}

/*fin FOOTER*/