/*PALETA COLORES
--------------------------------------------------------
1-VERDE: #113428;                 2-VERDE CLARO: #6e804f; 

3-MARRON: #433534;                4-ROSA: #DEB595;       

5-GRIS CLARO:  #e4e4e2;           6-BLANCO: #fff;  

7-GRIS: #e3e3e1;                  8-GRIS OSCURO:
-------------------------------------------------------*/

/*PROPIEDADES FRECUENTES:   
text-aling: center

APLICADAS AL PADRE, pero afectan a los ítems hijos
justify-items: (start | end | center |stretch)
Distribuye los elementos eje x.

align-items: (start | end | center |stretch)
Distribuye los elementos en el eje y.

APLICADAS AL HIJO
justify-self o align-self ,actuan = a lo anterior
-------------------------------------------------------*/
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 231, 231);
    margin-left: 5px;
}

.grilla {
    display: grid;
    /*tipo de display: grid o inline-grid*/


    /*uso un atajo para definir cantidad de filas /cantidad de columnas*/
    grid-template: auto auto auto / auto;

    /*distribuimos el contenido en cada fila*/
    grid-template-areas:
        "header"
        "main"
        "footer";

    /*separación de items con gap*/
    /* gap: 5px;*/

    width: 1200px;
}

/*
.item {
    border: 2px solid blue;    
}*/

/*INICIO HEADER---------------------------------*/
.header {
    grid-area: header;
}

.header_box {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #DEB595;
    justify-content: space-between;

}

#logo {
    padding: 15px;
    filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.145));
}

.nav_header {
    align-self: center;
    /*lo centra en eje x */
}

.nav_header ul {
    list-style-type: none;
}

.nav_header ul li {
    display: inline;
}

.nav_header ul li a {
    display: inline-grid;
    width: 80px;
    height: 20px;
    color: #433534;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

ul li a:hover {
    color: #e4e4e2;
}

.box__intro {
    display: flex;
    justify-content: flex-end;
}

.form__header {
    display: flex;
    align-self: center;
    margin-left: 20px;
}

.headerSearch__input {
    border-radius: 15px;
    height: 2em;
    border: none;
    background-color: #fff;
    font-weight: bold;
    color: #433534;
    text-align: center;
    margin-left: 7px;
}

.compra__box {
    display: flex;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.link__compra {
    text-decoration: none;
    color: black;
}

/*FIN HEADER-----------------------------------*/


/*INICIO MAIN---------------------------------*/

.main {
    grid-area: main;
}

/*inicio section CAROUSEL*/
.carousel {
    display: flex;
    align-self: center;
}

.mySlides {
    display: flex;
    align-self: center;
    background-color: #e7e7e5;
}

.button_box {
    display: flex;
    background-color: #433534;
    justify-items: center;
    align-items: center;
}

.buttonL_slider,
.buttonR_slider {
    background-color: #DEB595;
    border: none;
    color: #433534;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 15px;
    filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.202));
}

/*fin section CAROUSEL*/

/*inicio section CATEGORIAS*/

.categorias {
    height: auto;
    padding-top: 10px;
    background-color: white;
}

.box_cat {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    margin-top: 30px;
}

.categorias h2 {
    font-size: 40px;
    color: #433534;
    font-family: Roboto;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
    font-weight: bold;
    padding-left: 40px;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.item_cat {
    width: 100px;
    height: auto;
    background-color: #e4e4e2;
    border-radius: 15px;
    filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.145));
    border: solid 2px #bbbbba;
}

.categorias .box_cat .item_cat img {
    width: 100%;
    height: auto;
}

.categorias .box_cat .item_cat:hover {
    scale: 110%;
    border: 2px solid #DEB595;
}

/*fin section CATEGORIAS*/

/*inicios section OFERTAS*/
.ofertas {
    height: auto;
    padding-top: 10px;
    padding-bottom: 80px;
    background-color: #e4e4e2;
    background: linear-gradient(rgba(255, 255, 255, 0.913), rgba(217, 176, 144, 0.538));
}

.box_ofertas {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.animacion_box {
    background-color:#DEB595;
    border-radius: 0 300px 0 0;
    width: 50%;
    padding: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.ofertas h2 {
 
    font-size: 40px;
    color: #433534;
    font-family: Roboto;
    font-weight: 500;
    line-height: 25px;
   /* margin-bottom: 20px;
    margin-left: 10px;*/
    width: 100%;
    font-weight: bold;
  /*  padding-left: 45px;
    padding-top: 110px;*/
    text-shadow: #433534;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*INICIO ANIMACION*/
.color-change {
    animation: change-colors 3s infinite;
}

@keyframes change-colors {
    0% {
        color: red; 
    }

    25% {
        color: #113428;
    }

    50% {
        color: red;
    }

    75% {
        color: #DEB595;
    }

    100% {
        color: red;
    }
}

/*FIN ANIMACION*/

.item_ofertas {
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    font-size: 10px;
    color: #433534;
    filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.145));
    border: solid 2px #bbbbba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 25px;
}

.div_img {
    width: 200px;
}

.img_ofertas {
    padding: 0;
}

.ofertas .p1_ofertas {
    color: #433534;
    font-size: 2.3em;
    font-weight: bold;
}

.ofertas .p2_ofertas {
    color: #696666;
    font-size: 2em;
    font-family: Roboto;
    padding-bottom: 5px;
}

.ofertas .p3_ofertas {
    padding-bottom: 5px;
    color: #8c8887;
    font-size: 1.2em;
    font-family: Roboto;
}

.button1 {
    width: 250px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #433534;
    height: auto;
}

.button2 {
    border: none;
    color: #433534;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e4e4e2;
    width: 250px;
    height: auto;
}

.button3 {
    width: 150px;
    border: none;
    color: #e4e4e2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 50px 2px;
    cursor: pointer;
    background-color: #DEB595;
    height: auto;
    border-radius: 15PX;
    border: 3px solid #d8ac8b;
    filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.271));
}


.button3:hover {
    background-color: #113428;
}

/*fin section OFERTAS*/

/*inicios section PEDIDOS*/
.pedidos {
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    color: #705d5b;
    font-size: 20px;
    padding: 100px 0;
}

.pedidos h3 {
    padding: 20px;
}

/*fin section PEDIDOS*/

/*inicio section CUIDADOS*/
.cuidados {
    display: flex;
    background-color: #6e804f;
    padding: 40px;
    border-radius: 60px 60px 2px 2px;
    /*  filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.145));*/
    width: 90%;
}

.cuidados_box {
    display: flex;
    background-color: white;
    justify-content: center;

}

#h1_cuidar {
    color: #e5e5e3;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    padding-top: 35px;
    padding-left: 60px;
}

.cuidados p {
    padding: 15px 70px;
    color: #dbb292;
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 16px;
    align-items: center;

}

.a_cuidados {
    color: #113428;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.iframe {
    margin: 50px;
    border: 3px solid#dbb292;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}

/*fin section CUIDADOS*/

/*inicio SUSCRIBITE*/
.suscribite_box {
    background-color: #dbb292;
    height: 300px;

}

.sub-footer-subscribe {
    max-width: 1200px;
}

.img_sobre {
    margin-right: 10px;
}

.text-subscribe {
    font-size: calc((19/16) * 1rem);
    color: #433534;
    font-weight: 600;
    padding-top: 80px;
    margin-bottom: 25px;
    font-family: Gotham, sans-serif;
}

.sub-footer-subscribe>div {
    display: block;
    text-align: center;
}

.sub-footer-subscribe>div.subscribe .prompt {
    margin: 5px 0;
}

.sub-footer-subscribe>div.subscribe .prompt .newsletter-prompt {
    display: block;
    color: #433534;
    text-align: right;
    margin-right: 48%;
}

.form__suscribite {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}

input.newsletter-email {
    color: #828282;
    font-size: calc((14/16) * 1rem);
    font-weight: 200;
    height: 44px;
    padding: 12px;
    margin: 0;
    width: 390px;
    vertical-align: middle;
    /* -webkit-appearance: none;*/
    border: 1.2px solid #ddd;
}

input.newsletter-submit {
    color: #e5e5e3;
    font-weight: 600;
    border: 1px solid #113428;
    font-size: calc((16/16) * 1rem);
    background-color: #113428;
    height: 44px;
    vertical-align: middle;
    width: 196px;
    margin-left: -5px;
    font-family: Gotham, sans-serif;
}

/*fin SUSCRIBITE*/

/*FIN MAIN-----------------------------------------------    -*/

/*INICIO FOOTER------------------------------------------------*/


/*inicio FOOTER*/

footer {
    grid-area: footer;
    background-color: #433534;
    height: 200px;
}

/*inicio section SERVICIOS*/
#section_servicios {
    column-count: 3;
    column-width: 33%;
    column-gap: 70px;
    column-rule: 1px solid #433534;
    /*linea divisoria de columnas*/
    padding: 100px;
    background-color: white;
    color: #433534;
}

/*fin section SERVICIOS*/

/*inicio section datos*/
#section_datos {
    background-color: #433534;
    /*  text-align: justify;*/
    color: #e4e4e2;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.item_datos {
    display: flex;
}


.lista_menu_footer {
    margin: 0px;
    padding-top: 10px;
    padding-right: 40px;
    list-style-type: none;
}

.lista_menu_footer li a {
    display: inline-grid;
    width: 100%;
    height: 40px;
    color: #dbb292;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.lista_menu_footer li a:hover {
    color: #F5DA81;
}


#nav1_redes {
    width: 100%;
    height: auto;
    margin: 5px;
}

.ul_nav1Redes {
    margin: 5px 10px;
    padding: 0px;
    list-style-type: none;
}


.ul_nav1Redes li {
    display: flex;
}

.ul_nav1Redes li a {
    display: inline-block;
    width: 100%;
    height: auto;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}

/*
/*fin section datos*/
/*FIN FOOTER------------------------------------------------*/


/*----CONTACTOS---------------------------------------------------*/
.main_contactos {
    background-color: white;
}

.ingreso_datos {
    width: 400px;
    height: 530px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-right: 35px;
    margin-bottom: 25px;
}

h5 {
    text-align: center;
    font-size: 40px;
    color: #828282;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    background-color: #ffffff;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#contacto_form {
    text-align: left;
    font-size: 10px;
    background-color: #ffffff;
    width: 350px;
    height: 450px;
    color: #999;
    padding-top: 25px;
}

form ul li {
    list-style-type: none;
    margin-top: 15px;
}

input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #D3D3D3;
    background-color: #fcfcfc;
}

li textarea {
    width: 100%;
    border-radius: 4px;
    border: 2px solid #D3D3D3;
    background-color: #fcfcfc;
    resize: none;
    /*box-sizing: border-box;*/
}

input .contacto[type=submit] {
    background-color: #113428;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    margin: 25px 150px;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, 0.271));
}

input .contacto[type=submit]:hover {
    background-color: #B0C4DE;
}